@import "../../styles/base.scss";

.sos-message {
    background-color: $primary-color;
    border-radius: 0.5rem;
    color: $secondary-color;
    cursor: pointer;
    width: 32rem;
}

.sos-message:hover {
    background-color: darken($primary-color, 10%);
}