.header {
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #e9ecef;
}
.logo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
    background-size: contain;
    background-position: center;
    margin-bottom: 20px;  
    border-radius: 100%;
}