@import "../../common/styles/base.scss";

.sos-messages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 128rem;
    padding: 20px;
}

.conversation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    min-width: 50rem;
    background-color: $secondary-color;
    padding: 20px;
}

.next-level-link {
    color: $secondary-color;
}